# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env
.qtcreator
.pytest_cache

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.user

# Project specific
test_images/*

# Logs
*.log
